certifi==2018.11.29
chardet==3.0.4
clarifai==2.5.2
Click==7.0
configparser==3.7.1
dlib==19.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0
future==0.17.1
googleapis-common-protos==1.5.6
grpcio==1.18.0
idna==2.8
jsonschema==2.6.0
numpy==1.16.1
opencv-python==4.0.0.21
Pillow==5.4.1
protobuf==3.18.3
requests==2.21.0
six==1.12.0
urllib3==1.24.1
